@import url(https://fonts.bunny.net/css?family=teko:400,700);

body {
    font: 16px/1.2 Teko, sans-serif;
    width: 60rem;
    margin: 2% auto 0;
}

h1 {
    text-align: center;
    text-transform: uppercase;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    font-family: 'Teko', sans-serif;
    width: 100%
}

#table-description {
    /*hide element visually*/
    position: absolute;
    left: -9999px;
    top: -9999px;
    width: 0;
    height: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    font-size: 0;
    padding: 0;
}

th {
    font-weight: 700;
    font-size: 1.25rem;
}

td {
    text-align: center;
    font-size: 1.25rem;
}

td, th {
    padding: 1em;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

/* Cellule vide en haut à gauche */
td[aria-hidden] {
    border: none;
}

#fbs {
    background-color: #ff4444;
    color: white;
}

#ws {
    background-color: #33b5e5;
}

#bitds {
    background-color: #ffbb33;
}

#rs {
    background-color: #99cc00;
}
