@import url('https://fonts.googleapis.com/css?family=Teko:400,700');
body {
    width: 960px;
    margin: 0 auto;
    margin-top: 2%;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    font-family: 'Teko', sans-serif;
    width: 100%
}
th {
    font-weight: 700;
    font-size: 125%;
}
td {
    text-align: center;
    font-size: 125%;
}
td, td, th {
    padding: 10px;
    border: 1px solid black;
}
th + th {
    background-color: #ff4444;
    color: white;
}
th + th + th {
    background-color: #33b5e5;
}
tr > th + th + th + th {
    background-color: #ffbb33;
}
tr > th + th + th + th + th {
    background-color: #99cc00;
}
